DATABASE_URL=postgresql://neondb_owner:npg_bfBoRKZxTt12@ep-spring-voice-b5jxxpf2-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
RTSP_URL=rtsp://admin:Vinu@2710@192.168.100.127:554/cam/realmonitor?channel=2&subtype=0
